#-*- perl -*-

package Unicode::LineBreak;

=head1 NAME

Unicode::LineBreak::Defaults - Configuration for Unicode::LineBreak

=head1 SYNOPSIS

Edit this file and place it on Unicode/LineBreak/Defaults.pm 
to activate custom settings.

=head1 DESCRIPTION

Following settings are available.

=over 4

=item BreakIndent

=item CharactersMax

=item ColumnsMin

=item ColumnsMax

=item ComplexBreaking

=item Context

=item Format

=item HangulAsAL

=item LegacyCM

=item Newline

=item Prep

=item Sizing

=item TailorEA

=item TailorLB

=item Urgent

=back

=head1 SEE ALSO

L<Unicode::LineBreak>

=cut

#--------------------------------------------------------------------------#
# Add your own settings below.
#--------------------------------------------------------------------------#

## Default settings on current release are:
# $Config->{BreakIndent} = 'YES';
# $Config->{CharactersMax} = 998;
# $Config->{ColumnsMin} = 0;
# $Config->{ColumnsMax} = 76;
# $Config->{ComplexBreaking} = 'YES';
# $Config->{Context} = 'NONEASTASIAN';
# $Config->{Format} = 'SIMPLE';
# $Config->{HangulAsAL} = 'NO';
# $Config->{LegacyCM} = 'YES';
# $Config->{Newline} = "\n";
# $Config->{Prep} = undef;
# $Config->{Sizing} = 'UAX11';
# $Config->{TailorEA} = [];
# $Config->{TailorLB} = [];
# $Config->{Urgent} = undef;
# $Config->{UserBreaking} = [];

1;
