#-*- perl -*-

package Unicode::LineBreak;

=head1 NAME

Unicode::LineBreak::Defaults - Configuration for Unicode::LineBreak

=head1 SYNOPSIS

Edit this file and place it on Unicode/LineBreak/Defaults.pm 
to activate custom settings.

=head1 DESCRIPTION

Following settings are available.

=over 4

=item Context

=item Format

=item HangulAsAL

=item LegacyCM

=item MinColumns

=item MaxColumns

=item Newline

=item NSKanaAsID

=item SizingMethod

=item UrgentBreaking

=item UserBreaking

=back

=head1 SEE ALSO

L<Unicode::LineBreak>

=cut

#--------------------------------------------------------------------------#
# Add your own settings below.
#--------------------------------------------------------------------------#

## Default settings on current release are:
# $Config->{Context} = 'NONEASTASIAN';
# $Config->{Format} = 'DEFAULT';
# $Config->{HangulAsAL} = 'NO';
# $Config->{LegacyCM} = 'YES';
# $Config->{MinColumns} = 0;
# $Config->{MaxColumns} = 76;
# $Config->{Newline} = "\n";
# $Config->{NSKanaAsID} = 'NO';
# $Config->{SizingMethod} = 'DEFAULT';
# $Config->{UrgentBreaking} = 'NONBREAK';
# $Config->{UserBreaking} = [];

1;
